<p>Lista de Registros</p>

<!-- Lista Registros Clientes-->


<body>
  <table class="clientes">
    <tr>
      <th>Encabezado 1</th>
      <th>Encabezado 2</th>
      <th>Encabezado 3</th>
    </tr>
    <tr>
      <td>Dato 1</td>
      <td>Dato 2</td>
      <td>Dato 3</td>
    </tr>
    <tr>
      <td>Dato 4</td>
      <td>Dato 5</td>
      <td>Dato 6</td>
    </tr>
    <!-- Puedes agregar más filas según sea necesario -->
  </table>


  <!-- Lista de docentes registrados -->

  <table class="docentes">
    <tr>
      <th>Encabezado 1</th>
      <th>Encabezado 2</th>
      <th>Encabezado 3</th>
    </tr>
    <tr>
      <td>Dato 1</td>
      <td>Dato 2</td>
      <td>Dato 3</td>
    </tr>
    <tr>
      <td>Dato 4</td>
      <td>Dato 5</td>
      <td>Dato 6</td>
    </tr>
    <!-- Puedes agregar más filas según sea necesario -->
  </table>

  <!-- Lista de docentes Cursos -->

    <table class="cursos">
      <tr>
        <th>Encabezado 1</th>
        <th>Encabezado 2</th>
        <th>Encabezado 3</th>
      </tr>
      <tr>
        <td>Dato 1</td>
        <td>Dato 2</td>
        <td>Dato 3</td>
      </tr>
      <tr>
        <td>Dato 4</td>
        <td>Dato 5</td>
        <td>Dato 6</td>
      </tr>
      <!-- Puedes agregar más filas según sea necesario -->
    </table>
</body>
