<h1>Lista de Registros</h1>

<span *ngIf="listadoClientesWS.length==0 && listadoDocentesWS.length==0 && listadoCursosWS.length==0" ><!-- este nos ayuda a determinar si el srraylist esta vacio nos indica que no hay contactos-->
  No existen contactos
</span>
<script>
  var contador = 0;
  setInterval(function() {
    contador++;
    document.getElementById("contador").innerHTML = contador;
  }, 1000);
</script>

<body>
  <h2>Clientes</h2>
    <ul>
      <table class="clientes">
        <thead  *ngIf="listadoClientesWS.length !== 0">
            <tr >
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of listadoClientesWS| async">
                <td>{{cliente.cedula}}  </td>
                <td>{{cliente.nombre}}  </td>
                <td>{{cliente.apellido}} </td>
                <td>{{cliente.correo}} </td>
            </tr>
        </tbody>
	    </table>
    </ul>


   <h2>Docentes</h2>
  <!-- Lista de docentes registrados -->

  <ul>
    <table class="docentes">
      <thead  *ngIf="listadoDocentesWS.length !== 0">
          <tr >
              <th>Cedula</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Correo</th>
              <th>Contraseña</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let docente of listadoDocentesWS| async">
              <td>{{docente.cedula}}  </td>
              <td>{{docente.nombre}}  </td>
              <td>{{docente.apellido}} </td>
              <td>{{docente.correo}} </td>
              <td>{{docente.contrasenia}} </td>
          </tr>
      </tbody>
    </table>
  </ul>

  <h2>Cursos</h2>
  <!-- Lista de docentes Cursos -->

  <ul>
    <table class="cursos">
      <thead  *ngIf="listadoCursosWS.length !== 0">
          <tr >
              <th>Nombre</th>
              <th>Horas</th>
              <th>Docente</th>
              <th>Cliente</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let curso of listadoCursosWS| async">
              <td>{{curso.nombre}}  </td>
              <td>{{curso.horas}} </td>
              <td>{{curso.docente}} </td>
              <td>{{curso.estudiante}} </td>
          </tr>
      </tbody>
    </table>
  </ul>
  
</body>
