<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Practica Miltiservicios</title>
</head>
<body>
  <header>
    <h1>Practica Micro-Servicios</h1>
  </header>
  <nav>
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a routerLink="paginas/Clientes">Clientes </a></li>
      <li><a routerLink="paginas/Docentes">Docentes </a></li>
      <li><a routerLink="paginas/Cursos">Cursos </a></li>
    </ul>
  </nav>
    <main>
      <router-outlet></router-outlet>
    </main>
  <footer>
    <p>Derechos de autor &copy; 2023 
      <br>Kevin Japa 
      <br>Pedro Orellana</p>
  </footer>
</body>
</html>