<div class="container">
    <h2>Registro de Cursos</h2>
    <form id="registroForm" method="post">  
        <!-- <label for="cedula">Cedula:</label>
        <input type="id" id="cedula" [(ngModel)]="cliente.cedula" name="cedula" required> -->
        <mat-form-field class="example-full-width">
            <mat-label>Nombre del Curso</mat-label>
            <input matInput placeholder=""  name="nombre" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label> Nro Horas</mat-label>
            <input matInput placeholder=""  name="apellido" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label> CI. Docente</mat-label>
            <input matInput placeholder=""  name="apellido" required>
        </mat-form-field>

        <button type="submit" >Registrar</button>
    </form>
</div>

